<html lang="en" ng-app="chat">

<head>
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script type="text/javascript" src="/static/js/app_nospa.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Interesting People Chat</title>
</head>

<body>
<div ng-controller="{{ angular_controller }}" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Interesting People Chat</span>

            <div flex></div>
            <!-- logout and user info here -->
            {% block user %}{% endblock %}
        </div>
    </md-toolbar>
    <main class='md-padding' layout="row" layout-align="center center" flex>
        {% block content %}{% endblock %}
    </main>
    <md-toolbar>
        <div layout="row" layout-align="center center" flex>
            <span>&copy; Vladimir Grevtsev, it-chat.in-addr.arpa hackathon</span>
        </div>
    </md-toolbar>
</div>

</body>
</html>
