{% extends 'base.html' %}

{% block user %}
    <img ng-src="{{ g.user.metadata.avatar_url }}" class="ava"/>
    {{ g.user.metadata.login }} &nbsp;
    <md-icon md-font-set="material-icons" ng-click="doLogout()">exit_to_app</md-icon>
{% endblock %}

{% block content %}

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="true" style="height:500px">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Channels</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl" md-scroll-y>
            <md-list>
                <h5>Active Channels</h5>
                <md-list-item class="md-2-line" ng-click="join(channel.name, true);"
                              ng-repeat="channel in channels.subscribed track by $index">
                    <img ng-src="{[ channel.avatar_url ]}" class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3>{[ channel.name ]} <span ng-if="get_unread_count(channel.name)"><b>({[
                            get_unread_count(channel.name) ]})</b></span></h3>

                        <p>{[ channel.description ]}</p>
                    </div>
                </md-list-item>

                <md-divider></md-divider>
                <h5>Available Channels</h5>
                <md-list-item class="md-2-line" ng-click="showJoinChannel(channel);"
                              ng-repeat="channel in channels.unsubscribed track by $index">
                    <img ng-src="{[ channel.avatar_url ]}" class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3>{[ channel.name ]}</h3>

                        <p>{[ channel.description ]}</p>
                    </div>
                </md-list-item>
            </md-list>

        </md-content>
    </md-sidenav>


    <md-content class="md-padding" flex layout="column" layout-align="center"
                style="height: 500px" ng-if="channel">
        <h1>You're on channel #{[ channel ]} </h1>

        <md-content flex="90" id="chatwindow">

            <md-list>
                <div scroll-glue/>
                <md-list-item class="md-2-line"
                              ng-repeat="x in messages[channel] track by $index">
                    <img ng-src="{[ x.user.metadata.avatar_url ]}" class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3>{[ x.user.metadata.login ]}</h3>

                        <p>{[ x.message ]}</p>
                    </div>
                </md-list-item>
                </div>
            </md-list>

        </md-content>

        <form ng-submit="sendMessage(channel, message);message=null;" layout="row" style="background: white">

            <md-input-container class="md-block" flex>
                <label>Message</label>
                <input ng-model="message">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Send</md-button>
        </form>
        <md-button class="md-raised" ng-click="showLeaveChannel(channel)">Leave Channel</md-button>
    </md-content>

    <md-content class="md-padding" flex layout="column" layout-align="center center"
                style="height: 400px" ng-if="!channel">
        <h4>Please, select a channel from panel at the left side.</h4>

    </md-content>



{% endblock %}
