{% extends 'base.html' %}


{% block content %}
<div flex>

    <md-card layout="column" layout-align="center center">
        <div>
            <img style="height: 375px; width: 720px" ng-src="/static/img/publicspace.jpg"
                 class="md-card-image" alt="Washed Out">
        </div>
        <md-card-content>
            <p>
                Hey, what's this? Starbucks coffee cup? C'mon, throw it away. Wanna some
                chat, my little <s>pony</s> hipster?
            </p>

            <p>
                I promise - only <b>epic</b> threads, and <b>interesting</b> people here.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button md-no-ink class="md-primary" ng-click="doLogin()">Login via GitHub</md-button>
        </md-card-actions>
    </md-card>
</div>
{% endblock %}
