
md-card {
    padding: 20px;
}

main {
    min-height: calc(100vh - 128px);
}

.ava {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-sizing: content-box;
    display: block;
    height: 40px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-top: 8px;
    width: 40px;
}

